/* css goes here */
.container-fluid
{
	background-color: #DCEDC8;

}
body
{
    background-color: lightgray;
	font-family: 'FontAwesome';
	
}
container
{
    width: 980px;
	margin-right: auto;
	margin-left: auto;
	border: 2px solid #666666;
	border-radius: 20px;
	padding: 10px;
}



